.App {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*line-height: 1.5;*/
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 0.5rem;
}

* {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: xx-large;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.main-content {
    display: flex;
    flex-direction: row;
}

.sidebar {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    min-width: fit-content;
}

.display-options {
    border-style: solid;
    border-color: black;
    border-width: 0.1rem;
    border-radius: 1rem;
    min-width:fit-content;
    padding: 1rem;
}

.filter-container {
    padding-bottom: 1rem;
}

.display-method {
    margin: 0;
}

.filter-type {
    padding-top: 0.7rem;
    margin: 0;
}

.sort-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sort-container .display-buttons {
    padding-top: 0.7rem;
}

.reset {
    border: solid;
    padding: 0.5rem 2rem;
    text-align: center;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.reset:hover {
    background-color: rgb(0, 0, 0);
    border-color: black;
    color: white;
}

.aggregator-container {
    border-style: solid;
    border-color: black;
    border-width: 0.1rem;
    border-radius: 1rem;
    min-width:fit-content;
    padding: 1rem;
    position: sticky;
    top: 2rem;
}

.list {
    padding-left: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 5rem;
}

.sources {
    padding: 1rem;
    font-size: small;
}